section .form-div {
    display: flex;
    justify-content: center;
}

section .main-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

section .app-bar {
    background-color: #242466;
    color: white;
    padding-left: 20px;
    border-radius: 8px;
    margin-bottom: 1px;
}

.bold {
    font-weight: bolder;
}

.mt-4 {
    margin-top: 2em;
}

.mt-2 {
    margin-top: 1em;
}

.inset {
    margin: 20px;
}

.inset.table {
    overflow: auto;
}

.no-margin {
    margin: 0 20px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgb(169, 169, 169);
}

label.error {
    color: #bb3131;
    font-size: 12px;
}

input {
    font-size: 20px;
}

select {
    width: 100% !important;
}

button {
    font-weight: bolder;
    color: white;
    background-color: #242466;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5555ae;
}

table thead {
    background-color: #d7d2d2;
}

table td, th {
    padding: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

footer {
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    section .main-form {
        width: 90%;
    }
    footer {
        background-color: gainsboro;
    }
}